$blockHeight: 200px;

.shortcuts {
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 10px;
    grid-auto-rows: $blockHeight;
}

.shortcuts > * {
    text-align: center;
    background-color: var(--panelBackground);
    line-height: $blockHeight;
}