.theme-light {
    @each $name, $color in $colors {
        #{$name}: nth($color, 1);
    }
}

.theme-dark {
    @each $name, $color in $colors {
        #{$name}: nth($color, 2);
    }
}

@import '~@angular/material/theming';
@include mat-core();

$dark-theme-primary: mat-palette($mat-blue);
$dark-theme-accent:  mat-palette($mat-indigo, A200, A100, A400);

$dark-theme-warn:    mat-palette($mat-red);

$dark-material-theme: mat-light-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
    warn: $dark-theme-warn,  
  )
));

@include angular-material-theme($dark-material-theme);