/* You can add global styles to this file, and also import other style files */
@import './theme';
@import './animations';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--mainBackground);
    color: var(--mainText);
}

a {
    color: var(--link-default-color);
}

a:hover {
    color: var(--link-default-color-hover);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
