/* You can add global styles to this file, and also import other style files */
@import './colors';
@import './theme';
@import './animations';

html,
body {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

a {
    color: var(--link-default-color);
}

a:hover {
    color: var(--link-default-color-hover);
}
