<div class="environmentsContainer">
    <mat-card *ngFor="let env of Environments">
        <mat-card-header>
            <mat-card-title>
                <mat-icon>api</mat-icon>
                {{ env.DisplayName }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li *ngFor="let link of env.Links">
                    <a mat-stroked-button color="accent" [href]="link.Url" target="_blank" [title]="link.DisplayName">
                        <mat-icon *ngIf="!!link.Icon">{{ link.Icon }}</mat-icon>
                        <span *ngIf="!link.Icon">{{ link.DisplayName }}</span>
                    </a>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon>api</mat-icon>
                <input matInput type="text" [(ngModel)]="NewEnvName" />
                <button (click)="AddEnvironment()">Add</button>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>