<div class="workItemsContainer">
    <form (submit)="OpenProductionError()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>PROD errors</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Production error id</mat-label>
                    <input matInput placeholder="Error id" [(value)]="ProductionErrorId">
                </mat-form-field>
                <div *ngIf="DisplayProductionErrorOpeningMessage">
                    Production log is being opened.
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit">
                    Open
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>