<form [formGroup]="form" (submit)="OpenError()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ Title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>{{ Label }}</mat-label>
                <input matInput placeholder="Error id" formControlName="productionErrorId">
            </mat-form-field>
            <div *ngIf="DisplayMessage">
                {{ OpeningMessage }}
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" type="submit" [disabled]="form.disabled || !form.valid">
                Open
            </button>
        </mat-card-actions>
    </mat-card>
</form>
